ErrorDocument 404 /little-glitch/404.php

RewriteEngine on

RewriteBase /little-glitch/

RewriteRule	^meta.json$		meta.php		[L]
RewriteRule	^edition/$		edition.php		[L]
RewriteRule	^sample/$		edition.php?sample=1	[L,QSA]
RewriteRule	^configure/$		configure.php		[L]
